# This variable tells the system which model type you'll be using with D.A.N.T.E.
# You can choose from "OLLAMA_LOCAL", "OLLAMA_CLOUD", "OPENAI", "ANTHROPIC", and "OPENROUTER" for now.
# Want more? Try to make it yourself and submit a pr!

THINKING_MODEL_MODE = 

# Comment out lines for API keys you won't use. 
# By default they are all commented out so the program doesn't immediately crash.

# OLLAMA_API_KEY = 
# OLLAMA_CLOUD_MODEL = 
# You can get one at ollama.com/settings/keys after making an account.
# Don't use a Device Key, it won't work!
# Only use this if not running a local model.
# When entering the OLLAMA_CLOUD_MODEL, be sure to use quotation marks.

# OPENAI_API_KEY = 


# ANTHROPIC_API_KEY =


# OPENROUTER_API_KEY = 

# These are the personality traits D.A.N.T.E. will use when responding to your prompts. 
# These affect the response content, NOT the voice D.A.N.T.E. uses to respond to you.
# There is a default provided to prevent the program from crashing, but feel free to change it. 

PERSONALITY_PREFERENCES = "Be friendly to the user. Keep responses appropriately brief since you are a voice agent. Do not use emojis, since they cannot be spoken. Be conversational and use humor where appropriate."